<div class="image-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div class="four columns">
    <form action="/<%= @action %>" method="POST">
      <input type="hidden" name="0" value="<%= locals[:one] %>"><button type="submit" value="submit"><img class="pokemon" src="/images/<%= locals[:one] %>.png"></button>
    </form>
  </div>

  <div class="four columns">
    <form action="/<%= @action %>" method="POST">
      <input type="hidden" name="0" value="<%= locals[:two] %>"><button type="submit" value="submit"><img class="pokemon" src="/images/<%= locals[:two] %>.png"></button>
    </form>
  </div>

  <div class="four columns">
    <form action="/<%= @action %>" method="POST">
      <input type="hidden" name="0" value="<%= locals[:three] %>"><button type="submit" value="submit"><img class="pokemon" src="/images/<%= locals[:three] %>.png"></button>
    </form>
  </div>

  <div class="four columns">
    <p> </p>
  </div>
</div>