<div class="intro-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div id="intro" class="twelve columns inner">
    
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>

<div class="image-container">
  <div class="two columns">
    <p> </p>
  </div>

  <div class="four columns">
    <form action="/opponent" method="POST">
      <input type="hidden" name="0" value="<%= @opponents[0].name %>"><button type="submit" value="submit"><img class="pokemon" src="/images/<%= @opponents[0].name %>.png"></button>
    </form>
  </div>

  <div class="four columns">
    <form action="/opponent" method="POST">
      <input type="hidden" name="0" value="<%= @opponents[1].name %>"><button type="submit" value="submit"><img class="pokemon" src="/images/<%= @opponents[1].name %>.png"></button>
    </form>
  </div>

  <div class="four columns">
    <form action="/opponent" method="POST">
      <input type="hidden" name="0" value="<%= @opponents[2].name %>"><button type="submit" value="submit"><img class="pokemon" src="/images/<%= @opponents[2].name %>.png"></button>
    </form>
  </div>

  <div class="two columns">
    <p> </p>
  </div>
</div>